.container {
	position:absolute;
	top:10%;
	left:25%;
	padding: 16px;
	height: 580px;
}
input[type=text],input[type=password]{ 
    width: 80%; 
    padding: 10px 20px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
} 
button { 
    background-color: #005ce6; 
    color: white; 
    padding: 14px 20px; 
    margin: 8px 0; 
    border: none; 
    cursor: pointer; 
    width: 48%;
} 
button:hover { 
	opacity: 0.8; 
}
table{
	position:absolute;
	left:40%;
	top:50%;
}